{% extends 'base.html' %}

{% block title %}Dynamic Chart Types{% endblock %}

{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa; /* Light gray background */
    }
    h1 {
        margin-top: 20px;
    }
    #chart-container {
        width: 60%; /* Adjust the width as needed */
        margin: 20px auto; /* Center the container with margin */
    }
    .select-container {
        text-align: center;
        margin-bottom: 20px;
    }
</style>

<div class="container">
    <h1 class="text-center mb-4 text-primary">Dynamic Charts</h1>
    <div class="select-container d-flex justify-content-center align-items-center flex-wrap">
        <div class="m-2">
            <label for="headerSelect" class="m-2 text-primary">Choose data:</label>
            <select id="headerSelect" class="custom-select">
                <!-- Options will be populated by JavaScript -->
            </select>
        </div>

        <div class="m-2">
            <label for="chartType" class="m-2 text-primary">Choose a chart type:</label>
            <select id="chartType" class="custom-select">
                <option value="pie">Pie Chart</option>
                <option value="bar">Bar Chart</option>
                <option value="line">Line Chart</option>
                <option value="radar">Radar Chart</option>
                <option value="doughnut">Doughnut Chart</option>
                <option value="polarArea">Polar Area Chart</option>
            </select>
        </div>
    </div>
    <div id="chart-container" class="mt-4">
        <canvas id="myChart"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    var allChartData = {{ charts_data | tojson }};
    var headers = Object.keys(allChartData); // Headers are now keys of the allChartData object
    var ctx = document.getElementById('myChart').getContext('2d');
    var currentChart;

    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    function formatHeaderLabel(header) {
        return header.split('_')
                     .map(word => word.charAt(0).toUpperCase() + word.slice(1))
                     .join(' ');
    }

    function createChart(header, type) {
        var data = allChartData[header];

        // Sort data by values in ascending order
        var sortedData = [];
        for (var i = 0; i < data.labels.length; i++) {
            sortedData.push({ label: data.labels[i], value: data.values[i] });
        }
        sortedData.sort(function(a, b) {
            return a.value - b.value;
        });

        var sortedLabels = sortedData.map(function(item) { return item.label; });
        var sortedValues = sortedData.map(function(item) { return item.value; });
        var backgroundColors = sortedLabels.map(() => getRandomColor());
        var formattedHeader = formatHeaderLabel(header); // Format the header for display


        if (currentChart) {
            currentChart.destroy();
        }

        var chartOptions = {
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                display: type !== 'bar' && type !== 'line' && type !== 'radar',
                labels: {
                    generateLabels: function(chart) {
                        if (chart.config.type === 'bar' || chart.config.type === 'line' || chart.config.type === 'radar') {
                            return []; // return an empty array to hide legend items
                        }
                        return Chart.defaults.global.legend.labels.generateLabels(chart);
                    }
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        };

        currentChart = new Chart(ctx, {
            type: type,
            data: {
                labels: sortedLabels,
                datasets: [{
                    label: formattedHeader,
                    data: sortedValues,
                    backgroundColor: backgroundColors,
                    borderWidth: 1
                }]
            },
            options: chartOptions
        });
    }

    function updateChart() {
        var selectedHeader = document.getElementById('headerSelect').value;
        var selectedType = document.getElementById('chartType').value;
        createChart(selectedHeader, selectedType);
    }

    window.onload = function() {
        var headerSelect = document.getElementById('headerSelect');
        headers.forEach(function(header) {
            var formattedHeader = formatHeaderLabel(header);
            var option = document.createElement('option');
            option.value = header;
            option.text = formattedHeader;
            headerSelect.appendChild(option);
        });

        document.getElementById('chartType').onchange = updateChart;
        headerSelect.onchange = updateChart;

        // Create initial chart
        if (headers.length > 0) {
            createChart(headers[0], document.getElementById('chartType').value);
        }
    }
</script>

{% endblock %}
