{% extends 'base.html' %}

{% block title %}Data Table{% endblock %}

{% block content %}
    <style>
        .container {
            margin-top: 40px;
         //   background: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #007bff; /* Bootstrap primary color */
        }
        table {
            margin-top: 20px;
        }
        th {
            background-color: #007bff; /* Bootstrap primary color */
            color: white;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        .sort-link { /* Class for the sorting links */
            color: white; /* Makes the text color white */
            text-decoration: none; /* No underline for links */
        }
        .sort-link:hover, .sort-link:focus { /* Styles for hover and focus states */
            text-decoration: underline; /* Adds underline on hover/focus for visual feedback */
        }
        .arrow {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 5px;
            vertical-align: middle;
            border-style: solid;
        }
        .up {
            border-width: 0 4px 6px 4px;
            border-color: transparent transparent white transparent;
        }
        .down {
            border-width: 6px 4px 0 4px;
            border-color: white transparent transparent transparent;
        }
    </style>

    <div class="container">
        <h1 class="text-center">Data Table</h1>

        <!-- Dropdown for Page Size -->
        <form method="get" action="{{ url_for('views.data_table') }}">
            <label for="page_size">Items per page:</label>
            <select name="page_size" id="page_size" onchange="this.form.submit()">
                {% for size in [10, 20, 50, 100] %}
                    <option value="{{ size }}" {% if size == items_per_page %}selected{% endif %}>{{ size }}</option>
                {% endfor %}
            </select>
        </form>

        <!-- Table to display data -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <!-- Dynamically generate each header cell -->
                    {% for header in headers %}
                    <th>
                        <a class="sort-link"
                        href="?sort={{ header }}&order={{ 'desc' if sort_by == header and sort_order == 'asc' else 'asc' }}&page_size={{ items_per_page }}">
                            {{ header.replace('_', ' ').title() }}
                            <!-- Sorting Arrows -->
                            {% if sort_by == header %}
                                {% if sort_order == 'asc' %}
                                    <span class="arrow up" style="color: red;"></span>
                                {% else %}
                                    <span class="arrow down" style="color: red;"></span>
                                {% endif %}
                            {% else %}
                                <span class="arrow up" style="color: lightgray;"></span>
                                <span class="arrow down" style="color: lightgray;"></span>
                            {% endif %}
                        </a>
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <!-- Dynamically generate each row -->
                {% for entry in data %}
                <tr>
                    {% for header in headers %}
                    <td>{{ entry[header] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Bottom Pagination Controls -->
        <nav aria-label="Bottom page navigation">
            <ul class="pagination justify-content-center">
                <!-- Link to the first page -->
                <li class="page-item {% if current_page == 1 %}disabled{% endif %}">
                    <a class="page-link" href="{{ url_for('views.data_table', page=1, page_size=items_per_page) }}">First</a>
                </li>

                <!-- Calculate the range for the pagination -->
                {% set start_page = current_page - 4 if current_page - 4 > 0 else 1 %}
                {% set end_page = start_page + 7 if start_page + 7 <= total_pages else total_pages %}

                <!-- Display the page numbers -->
                {% for i in range(start_page, end_page + 1) %}
                <li class="page-item {% if i == current_page %}active{% endif %}">
                    <a class="page-link" href="{{ url_for('views.data_table', page=i, page_size=items_per_page) }}">{{ i }}</a>
                </li>
                {% endfor %}

                <!-- Link to the last page -->
                <li class="page-item {% if current_page == total_pages %}disabled{% endif %}">
                    <a class="page-link" href="{{ url_for('views.data_table', page=total_pages, page_size=items_per_page) }}">Last</a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}
