{% extends 'base.html' %}

{% block title %}Dynamic Chart Types{% endblock %}

{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
    }
    h1 {
        margin-top: 20px;
    }
    #chart-container {
        width: 80%;
        margin: 20px auto;
    }
</style>

<div class="container">
    <h1 class="text-center mb-4 text-primary">Aggregated Data Chart</h1>
    <div class="select-container d-flex justify-content-center align-items-center flex-wrap">
        <div class="m-2">
            <label for="chartType" class="m-2 text-primary">Choose a chart type:</label>
            <select id="chartType" class="custom-select">
                <option value="bar">Bar Chart</option>
                <!-- Add other chart types if needed -->
            </select>
        </div>
    </div>
    <div id="chart-container">
        <canvas id="myChart"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0"></script>


<script>
    var allChartData = {{ charts_data | tojson }};
    var headers = Object.keys(allChartData);
    var ctx = document.getElementById('myChart').getContext('2d');
    var currentChart;

    // Define a color for each axis
    var yAxisColors = ['#4e79a7', '#f28e2b', '#e15759'];

    function createChart(type) {
        // Sort labels and values based on 'average_net_profit_percent'
        var profitPercentData = allChartData['average_net_profit_percent'];
        var sortedIndices = profitPercentData.values.map((value, index) => ({ value, index }))
                                                   .sort((a, b) => a.value - b.value)
                                                   .map(data => data.index);

        var sortedLabels = sortedIndices.map(index => profitPercentData.labels[index]);

        var datasets = headers.map(function(header, index) {
            var sortedValues = sortedIndices.map(sortedIndex => allChartData[header].values[sortedIndex]);
            return {
                label: header.replace(/_/g, ' ').replace(/^\w/, c => c.toUpperCase()),
                data: sortedValues,
                backgroundColor: yAxisColors[index % yAxisColors.length],
                borderWidth: 1,
                yAxisID: 'y-axis-' + index
            };
        });

        if (currentChart) {
            currentChart.destroy();
        }

        currentChart = new Chart(ctx, {
            type: type,
            data: {
                labels: sortedLabels,
                datasets: datasets
            },
            options: {
                responsive: true,
                maintainAspectRatio: true,
                scales: {
                    yAxes: headers.map(function(header, index) {
                        return {
                            id: 'y-axis-' + index,
                            type: 'linear',
                            position: 'left',
                            ticks: {
                                beginAtZero: true,
                                callback: function(value) {
                                    return Math.round(value);
                                }
                            },
                            // Set grid line and tick color for all y-axes
                            gridLines: {
                                display: true,
                                color: yAxisColors[index % yAxisColors.length]
                            },
                            ticks: {
                                fontColor: yAxisColors[index % yAxisColors.length]
                            }
                        };
                    })
                },
                legend: {
                    labels: {
                        fontColor: 'black' // Set this to the color you want for the legend labels
                    }
                }
            }
        });
    }

    window.onload = function() {
        document.getElementById('chartType').onchange = function() {
            createChart(this.value);
        };

        // Initialize chart
        createChart(document.getElementById('chartType').value);
    }
</script>

{% endblock %}
