{% extends 'base.html' %}

{% block title %}Python Data Treatment Training{% endblock %}

{% block content %}
<div class="container" style="padding-top: 5%; padding-bottom: 5%;">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center display-4 mb-4 text-primary">Python Data Treatment Training Project</h1>
            <h3 class="text-center lead">Exploring the realms of Python, Pandas, Flask, and Data Analysis.</h3>
        </div>
    </div>
<div class="row mt-5">
    <!-- First Column -->
    <div class="col-md-4 text-center">
        <img src="./../static/img/python_and_flask.png" alt="Python and Flask" class="img-fluid rounded mb-3">
    </div>

    <!-- Second Column -->
    <div class="col-md-4 text-center">
        <img src="./../static/img/pandas.png" alt="Pandas" class="img-fluid rounded mb-3">
    </div>
      <div class="col-md-4 text-center">
        <img src="./../static/img/chart.js.jpg" alt="Chart" class="img-fluid rounded mb-3">
    </div>
</div>

</div>
{% endblock %}
